---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/adrienverge/yamllint
    rev: 'v1.32.0'
    hooks:
      - id: yamllint
  - repo: https://github.com/psf/black
    rev: 23.10.0
    hooks:
      - id: black
